@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    list-style: none;
    text-decoration: none;
}
.nav-item{
    font-weight: 700;
}
.nav-link:hover{
        color: blue !important;
}
header{
    background-image: url(./assets/Rectangle\ 44.png);
    height: 48vh;
}
.header-content{
    font-family: 'Antonio';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
}
.content{
    margin-left: 17%;
}
.content p{
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    width: 917px;
}
.content h1{
    font-family: 'Antonio';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
}
.grid-container{
    max-width: 979px;
}
.grid-img-2{
    background-color: #D9D9D9;
}
.grid-img-2 h1{
    margin-top: 6%;
}
.grid-img-2 p{
    margin-top: 6%;
}
.grid-text{
    margin: 0% 7%;
}



















/* footer */
.footer{
    padding: 2%;
    background-color: rgba(0, 0, 0, 0.718);
}
.foot-img{
    width: 100px;
    margin: 0% 30%;
}
.foot-content{
    width: 30%;
}
.link-1,.link-2,.link-3,.link-4{
width: 30%;
padding: 1%;
background-color: rgba(0, 0, 0, 0.661);
color: white;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 22px;
text-align: center;
}
.last{
    background-color: black;
    padding: 5%;
}
.last-1{
    width: 45%;
    color: white;
}
.xp{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 21px;
/* identical to box height */

text-align: center;

color: rgba(255, 255, 255, 0.8);
}
.last-1 a{
text-decoration: none !important;
 font-family: 'poppins';
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 20px;
color: white;
}
.pp{
font-family: 'Calibri';
font-style: normal;
font-weight: 400;
font-size: 15px;
color: rgba(255, 255, 255, 0.5);
}