@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    list-style: disc;
    text-decoration: none;
}
header{
    background-size: cover;
    background-image: url(./assets/Rectangle\ 1.png);
    height: 48vh;
}
.header-content h1{
font-family: 'Antonio';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 52px;
text-align: center;
}
.navbar-toggler:focus{
    text-decoration: none !important;
    outline: none !important;
    box-shadow: none !important;
}
.new{

    font-family: 'Antonio';
font-style: normal;
font-weight: 700;
font-size: 20px;
text-align: center;
color: white;
background-color: rgba(255, 0, 0, 0.32);
padding: 1%;
width: 20%;
}
.new:hover{
    background-color: black;
}

.nav-link:hover{
    color: blue !important;
}
.nav-item{
    font-weight: 700;
    list-style: none;
}
.m-header{
    margin-left: 17%;
    margin-top: 3%;
}
.m-header h1{
    font-family: 'Antonio';
font-style: normal;
font-weight: 700;
font-size: 38px;
line-height: 49px;
}

.sixh{
font-family: 'Calibri';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 18px;
letter-spacing: 0.05em;
color: #000000;
}
.grid-container{
    max-width: 972px;
}
.staff h1{
    margin-left: 18%;
    font-family: 'Antonio';
font-style: normal;
font-weight: 700;
font-size: 38px;

}
.text-center a{
    font-family: 'Calibri';
    font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 18px;
letter-spacing: 0.05em;

color: #000000;
}
.great{
    font-family: 'Antonio';
font-style: normal;
font-weight: 700;
font-size: 38px;

}
.text-center{
    
font-family: 'Calibri';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;
}
hr{
   width: 70%;
   margin-left: auto !important;
   margin-right: auto !important;
}
.exp{
   margin-left: 260px;
}
ol{
    list-style: disc;
}
.grid-container-2{
    max-width: 972px;
}
.footer{
    padding: 2%;
    background-color: rgba(0, 0, 0, 0.63);
}
.foot-img{
    width: 100px;
    margin: 0% 30%;
}
.foot-content{
    width: 30%;
}
.link-1, .link-2, .link-3, .link-4{
width: 30%;
padding: 1%;
background-color: rgba(0, 0, 0);
color: white;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 15px;
line-height: 22px;
text-align: center;
}
.last{
    background-color: black;
    padding: 5%;
}
.last-1{
    width: 45%;
    color: white;
}
.xp{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 21px;
/* identical to box height */

text-align: center;

color: rgba(255, 255, 255, 0.8);
}
.last-1 a{
text-decoration: none !important;
 font-family: 'poppins';
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 20px;
color: white;
}
.pp{
font-family: 'Calibri';
font-style: normal;
font-weight: 400;
font-size: 15px;
color: rgba(255, 255, 255, 0.5);
}

/* mobile Responsive */
@media (max-width:768px) {
     header {
        height: auto;
        background-size: cover;
    }
    .header-content h1{
        display: none;
    }
    .new{
        display: none;
    }   

    .m-header{
       width: 50rem; 
       justify-content: center;
    }
    .m-header h1{
        font-size: x-large;
    }
    .sixh{
        font-size: small;
        width: 18rem;
        align-items: center;
    }
    .great{
        font-size: x-large;
        margin-left: 2%;
    }
    .staff h1{
        font-size: x-large;
    }
    .exp{
        margin: 0%;
    }
    .exp p{
        width: 45rem;
    }
    .last{
        height: 18rem;
        display: flex;
        
    }
    .last-1{
        flex-direction: column;
    }

}